*/.idea
/kinit-admin/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
/kinit-admin/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
/kinit-admin/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
/kinit-admin/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
/kinit-admin/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
/kinit-admin/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
/kinit-admin/ios/App/App/Assets.xcassets/Contents.json
/kinit-admin/ios/App/App/Base.lproj/LaunchScreen.storyboard
/kinit-admin/ios/App/App/Base.lproj/Main.storyboard
/kinit-admin/ios/App/App/AppDelegate.swift
/kinit-admin/ios/App/App/Info.plist
/kinit-admin/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/kinit-admin/ios/App/App.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/kinit-admin/ios/App/App.xcodeproj/project.pbxproj
/kinit-admin/ios/App/CapApp-SPM/Sources/CapApp-SPM/CapApp-SPM.swift
/kinit-admin/ios/App/CapApp-SPM/.gitignore
/kinit-admin/ios/App/CapApp-SPM/Package.swift
/kinit-admin/ios/App/CapApp-SPM/README.md
/kinit-admin/ios/.gitignore
/kinit-admin/ios/debug.xcconfig
